/*Tag styling*/
body    {
    background-color: #f5e8c7;
}
hr  {
    border-color: #ECCCB2;
    border-style: none;
    border-top-style: dotted;
    border-top-width: 5px;
    width: 10%;
}
h1  {
    color: #AC7088;
}
h3  {
    color: #DEB6AB;
}

footer {
    text-align: center;
    padding: 5px;
    background-color: darkgrey;
    color: black;
}
/*Class Styling*/

/*ID Styling*/